@import url("./css/index.css");

.gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.inner_wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 36px 0 67px 0;
  align-items: center;
  justify-content: center;
}

.page_title_wrapper {
  text-align: center;
}

.page_title {
  font-size: 36px;
  color: var(--weight-text-color);
  font-weight: normal;
  font-family: "Exo";
}

.cards_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  height: 100%;
  flex-wrap: wrap;
  width: 100%;
}
